*__pycache__*
**/*.png
**/*.jpg
**/*.ipynb
**/*.pth*
**/*.pt*
.env*
*/accuracies/*
**/*.npy*
**/*.eps*
**/*.pkl*
**/*.pdf
gen-flow/all-close.py
**/config.yml
runs-new/prolific/all_inputs.csv
runs-new/plots/steering_results.csv
relevance-fluency/**/*.csv
relevance-fluency/**/*.json
normalized-results/**/*.csv
normalized-results/**/*.json
*judge_accuracy.json*
*judge_outputs.json*
*ratings.csv*
*eval_outputs.csv*
*relevance_fluency_prompts.csv*
*judge_prompts.csv*
.DS_Store
refusal+harmful-data/
style+sycophancy-data/

results/
judge-evals/workdirs
judge-evals/accuracy
logs/


judge-evals/accuracy-diff-unnormalized/
judge-evals/accuracy-diff/
judge-evals/accuracy-unnormalized/
judge-evals/workdirs-unnormalized/
results-unnormalized/