*__pycache__*
**/*.png
**/*.jpg
**/*.ipynb
**/*.pth*
**/*.pt*
.env*
*/accuracies/*
**/*.npy*
**/*.eps*
**/*.pkl*
**/*.pdf
gen-flow/all-close.py
**/config.yml
runs-new/prolific/all_inputs.csv
runs-new/plots/steering_results.csv
relevance-fluency/**/*.csv
relevance-fluency/**/*.json
normalized-results/**/*.csv
normalized-results/**/*.json
*judge_accuracy.json*
*judge_outputs.json*
*ratings.csv*
*eval_outputs.csv*
*relevance_fluency_prompts.csv*
*judge_prompts.csv*

judge-evals/accuracy
judge-evals/accuracy-cache-comparison
judge-evals/workdirs
results/
logs/
setup/

judge-evals/workdirs_residual/
results-resid/
judge-evals/accuracy_old/
judge-evals/accuracy_residual_old/
judge-evals/workdirs_old/
judge-evals/workdirs_residual_old/
results-resid_old/
results_old/