accelerate==1.13.0
bitsandbytes==0.50.0
datasets>=2.15.0
einops>=0.8.0
filelock
huggingface-hub==1.5.0
hf_transfer>=0.1.9
Jinja2>=3.1.0
matplotlib
nnsight==0.7.0
torch==2.10.0
torchvision==0.25.0
tqdm
transformers==5.10.4